@import "../../../../spm_modules/style-guide.scss";
@import "../../../../spm_modules/form.scss";

.password-reset {
	width: 100%;
	min-height: 70vh;
	.content {
		width: 100%;
		max-width: 992px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: center;

		h2 {
			padding: 30px;
			color: $color-secondary;
		}

		p{
			height: 20px;
			font-size: 1rem;
			width: 100%;
			text-align: center;
			a{
				color: coral;
				font-style: italic;
				padding-left: 10px;
			}

			&.success {
				color: green;
			}
			&.invalid {
				color: red;
			}
			&.user-inactive {
				color: orange;
			}
		}

		form {
			padding: 40px 30px;
			max-width: 600px;
			width: 100%;
			p{
				text-align: left;
			}

			.form-action{
	      display: flex;
	      flex-wrap: wrap;
	      align-items: center;

	      button{
	        align-self: flex-end;
	        background-color: $color-quaternary;
	        color: #fff;
	        font-size: 1.2rem;
	        padding: 5px 20px;
	        margin-right: 10px;
	        border-radius: 8px;
	      }
	    }
		}

		// p {
		// 	padding: 30px 20px;
		// 	text-align: center;
		// 	color: $color-primary;
		// 	font-size: 2rem;
		// }

		// .link {
		// 	margin-top: 30px;
		// 	a {
		// 		text-decoration: none;
		// 		font-size: 1.5rem;
		// 		appearance: none;
		// 		-webkit-appearance: none;
		// 		-moz-appearance: none;
		// 		padding: 15px 20px;
		// 		border-radius: 15px;
		// 		background-color: $color-quaternary;
		// 		color: #fff;
		// 	}
		// }
	}
}
