<section class="password-reset">
	<div class="content">
		<h2>Reset my password</h2>
		<p *ngIf="statusResetPassword.className != 'invalid'" [ngClass]="statusResetPassword.className">{{ statusResetPassword.msg }}</p>
		<p *ngIf="statusResetPassword.className == 'invalid'" [ngClass]="statusResetPassword.className">{{ statusResetPassword.msg }}, <a routerLink="/password-forget">resend email</a></p>
		<form [formGroup]="formSettings" (ngSubmit)="onSubmitContact()">
			<div class="opt-control st-control-text required">
		    <p>
		      <span *ngIf="errorFormControlByName('newPassword', 'required')">Password required</span>
	        <span *ngIf="errorFormControlByName('newPassword', 'pattern')">Password pattern invalid</span>
		    </p>
				<input type="password" id="newPassword" formControlName="newPassword" required>
				<label for="newPassword">New password</label>
			</div>
			<div class="opt-control st-control-text required">
		    <p>
		    	<span *ngIf="errorFormControlByName('newPasswordRepeat', 'required')">Password repeat required</span>
	        <span *ngIf="errorFormControlByName('newPasswordRepeat', 'passwordMatch')">Password doesn't match</span>
		    </p>
				<input type="password" id="newPasswordRepeat" formControlName="newPasswordRepeat" required>
				<label for="newPasswordRepeat">Confirm new password</label>
			</div>
			<div class="form-action">
		    <button #buttonSubmit type="submit">Apply</button>
		  </div>
		</form>
	</div>
</section>
