@import "../../../../../../spm_modules/style-guide.scss";

/************************* DEFAULT STYLE **************************************/
.section-doc{
  .content{
    padding: 10px;
    max-width: 992px;
    margin: 0 auto;
    h2{
      font-size: 2.4rem;
      color: $color-primary;
      margin-bottom: 15px;
    }

    table {
      table-layout: fixed;
      width: 100%;
      padding-right: 20px;

      td {
        white-space: normal;
        word-wrap: break-word;
      }

      &.command-lexicon {
        padding-top: 10px;
        width: initial;
        margin: 0 5%;
        border-radius: 5px;
        border-spacing: 0;
        
        tr {
          td, th {
            padding: 5px 12px;
            border: 1px solid #464646;
          }

          td:first-child, th:first-child {
            border-left-width: 2px;
          }

          td:last-child, th:last-child {
            border-right-width: 2px;
          }

          &:first-child {
            th {
              border-top-width: 2px;
            }

            th:first-child {
              border-top-left-radius: 5px;
            }
            th:last-child {
              border-top-right-radius: 5px;
            }
          }

          &:last-child {
            td {
              border-bottom-width: 2px;
            }

            td:first-child {
              border-bottom-left-radius: 5px;
            }

            td:last-child {
              border-bottom-right-radius: 5px;
            }
          }
        }
      }
    }
  }

}


/************************************* XS *************************************/
@media screen and (min-width: $responsive-width-xs) {}

/************************************* SM *************************************/
@media screen and (min-width: $responsive-width-sm) {}

/************************************* MD *************************************/
@media screen and (min-width: $responsive-width-md) {}

/************************************* LG *************************************/
@media screen and (min-width: $responsive-width-lg) {}

/************************************* XL *************************************/
@media screen and (min-width: $responsive-width-xl) {}
