@import "../../../../spm_modules/style-guide.scss";

/************************* DEFAULT STYLE **************************************/
header{
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a{
    height: 100%;
    .logo{
      padding: 10px 0;
      height: 100%;
      display: flex;
    }
  }
  .menu-button-burger{
    height: 100%;
    padding: 10px 0;
    margin-right: 20px;
    img{
      height: 100%;
    }
  }
  nav{
    position: absolute;
    top: 0;
    left: -100vh;
  }
}

/************************************* XS *************************************/
@media screen and (min-width: $responsive-width-xs) {
  header{
    height: 80px;
  }
}

/************************************* SM *************************************/
@media screen and (min-width: $responsive-width-sm) {}

/************************************* MD *************************************/
@media screen and (min-width: $responsive-width-md) {}

/************************************* LG *************************************/
@media screen and (min-width: $responsive-width-lg) {}

/************************************* XL *************************************/
@media screen and (min-width: $responsive-width-xl) {
  header{
    .menu-button-burger{
      display: none;
    }
    nav{
      position: initial;
      height: 100%;
      ul{
        height: 100%;
        display: flex;
        li{
          height: 100%;
          a{
            padding: 0 15px;
            height: 100%;
            // background-color: lightgreen;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.1rem;
            color: $color-secondary;
            &:hover{
              color: $color-primary;
            }
          }
          &:last-child{
            a{
              background-color: $color-primary;
              color: white;
              &:hover{
                color: $color-secondary;
              }
            }
          }
        }
      }
    }
  }
}
