<header>
  <div class="header-navigation" [ngClass]="{'open-nav': (navigation | async)?.isMenuOpen}">
    <a routerLink="/"><img src="./assets/logo.svg" alt="logo" class="logo"></a>
    <button type="button" class="menu-button-burger"><img src="./assets/button-burger.png" alt="" (click)="openMenu()"></button>
    <nav (click)="closeMenu()">
      <div class="expanded-control" [ngClass]="bindingClassMenu('root')">
        <ul (click)="stopPropagation($event)">
          <li routerLink="documentation/getting-started"><a>Getting Started</a></li>
          <li>
            <a routerLink="documentation">Documentation</a>
            <button class="expand" (click)="openSubMenu('documentation')"></button>
            <div class="expanded-control" (click)="backSubMenu()" [ngClass]="bindingClassMenu('documentation')">
              <ul (click)="stopPropagation($event)">
                <li><a routerLink="documentation/what-is-spm">What is spm ?</a></li>
                <li><a routerLink="documentation/getting-started">Getting started</a></li>
                <li><a routerLink="documentation/workings">How spm works</a></li>
                <li><a routerLink="documentation/cli-run-through">CLI run-through</a></li>
                <li><a routerLink="documentation/init">Initialize your project</a></li>
                <li><a routerLink="documentation/install">Install fancy packages</a></li>
                <li><a routerLink="documentation/generate">Generate customized packages</a></li>
                <li><a routerLink="documentation/use">Import packages in your stylesheets</a></li>
                <li><a routerLink="documentation/publish">Publish your creation</a></li>
                <li><a routerLink="documentation/cheat-sheet">Cheat sheet</a></li>
              </ul>
            </div>
          </li>
          <!-- <li><a routerLink="features">Features</a></li> -->
          <li><a routerLink="packages">Packages</a></li>
          <!-- <li><a routerLink="pricing">Pricing</a></li> -->
          <li *ngIf="(user | async)?.login === null"><a routerLink="connection/sign-in">Sign-in</a></li>
          <li *ngIf="(user | async)?.login === null"><a routerLink="connection/sign-up">Create an account</a></li>
          <li *ngIf="(user | async)?.login !== null">
            <a routerLink="user">Profile</a>
            <button class="expand" (click)="openSubMenu('user')"></button>
            <div class="expanded-control" (click)="backSubMenu()" [ngClass]="bindingClassMenu('user')">
              <ul (click)="stopPropagation($event)">
                <li><a routerLink="user">public profile</a></li>
                <li><a routerLink="user/settings">settings</a></li>
                <li><a routerLink="user/packages">packages</a></li>
                <li class="logout"><a (click)="logout()">log out</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <button class="nav-close" (click)="closeMenu()"></button>
  </div>
  <div class="header-search">
    <div #buttonBackTo class="content">
      <a [routerLink]="backToCurrent" class="back-to">
        <img src="assets/back.png" alt="">
      </a>
      <input type="text" placeholder="Find packages">
    </div>
  </div>
</header>
