<header>
  <div class="header-navigation">
    <a routerLink="/"><img src="./assets/logo-2.png" alt="logo" class="logo"></a>
    <button type="button" class="menu-button-burger"><img src="./assets/button-burger.png" alt="" (click)="toggleMenu()"></button>
    <nav [ngClass]="classNav">
      <ul>
        <li routerLink="documentation/getting-started"><a>Getting Started</a></li>
        <li><a routerLink="documentation">Documentation</a></li>
        <!-- <li><a routerLink="features">Features</a></li> -->
        <li><a>Packages</a></li>
        <!-- routerLink="packages" -->
        <!-- <li><a routerLink="pricing">Pricing</a></li> -->
        <li><a>Sign-in</a></li>
        <!-- routerLink="sign-in" -->
        <li><a>Create an account</a></li>
        <!-- routerLink="sign-up" -->
      </ul>
    </nav>
  </div>
  <div class="header-search">
    <div class="content">
      <input type="text" placeholder="Find packages">
    </div>
  </div>
</header>
