@import "../../../../spm_modules/style-guide.scss";

/************************* DEFAULT STYLE **************************************/
header{
  .header-navigation{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a{
      height: 100%;
      .logo{
        padding: 10px 0;
        height: 100%;
        display: flex;
      }
    }

    .menu-button-burger{
      height: 100%;
      padding: 10px 0;
      margin-right: 20px;
      img{
        height: 100%;
      }
    }

    .nav-close {
      visibility: hidden;
      background-color: rgba(0, 0, 0, 0);
      transition: visibility 0s, background-color 0.4s ease-in-out 0s, box-shadow 0.4s ease-in-out 0s;
      position: fixed;
    }

    &.open-nav{
      nav {
        transform: translateX(0vw);
      }

      .nav-close {
        @media screen and (max-width: 480px) {
          visibility: visible;
          z-index: 24;
          right: 55px;
          bottom: 80px;
          height: 60px;
          width: 60px;
          border-radius: 50%;
          background-color: rgba(0, 0, 0, 0.7);
          box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

          &:after {
            content: url(../../../assets/close-button.svg);
            position: absolute;
            top: 25%;
            left: 25%;
            height: 50%;
            width: 50%;
            color: white;
          }

          &:active {
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
          }
        }
      }
    }

    nav{
      position: fixed;
      z-index: 20;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      transform: translateX(-120%);
      transition: transform 0.4s ease-in-out;


      .expanded-control {
        background-color: transparent;
        z-index: 21;
        height: 100vh;
        width: 100%;
        max-width: 400px;
        position: fixed;
        top: 0;
        left: 0;
        transform: translateX(0);
        transition: transform 0.4s ease-in-out;
        padding-right: 0;

        &.below {
          z-index: 22;
          transform: translateX(0);
        }

        &.active {
          z-index: 23;
          transform: translateX(-80px);

          ul {
            overflow: scroll;
            box-shadow: 2px 0 15px black;
          }
        }

        ul{
          overflow: scroll;
          height: 100%;
          background-color: coral;
          width: 100vw;
          max-width: 400px;

          li{
            position: relative;
            display: flex;
            padding: 0 0 0 80px;
            border-bottom: 1px solid white;

            a{
              width: 100%;
              padding: 25px 20px;
              height: 100%;
              color: white;
              font-size: 1.3rem;
              cursor: pointer;
            }

            .expand {
              position: absolute;
              display: flex;
              justify-content: center;
              align-items: center;
              height: 100%;
              top: 0;
              right: 0;
              width: 20%;
              border-left: 1px solid white;

              &:after {
                content: url(../../../assets/right-arrow-angle.svg);
                position: absolute;
                top: 25%;
                left: 25%;
                height: 50%;
                width: 50%;
                color: white;
              }
            }

            .expanded-control {
              transform: translateX(-100%);
              padding-right: 80px;
              max-width: 480px;
              width: calc(100vw + 80px);

              &.active {
                transform: translateX(-80px);
              }

              &.below {
                transform: translate(0);
              }
            }
          }
        }
      }
    }
  }
  .header-search{
    background-color: $color-primary;
    .content{
      max-width: 992px;
      margin: 0 auto;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;

      &.back-to-active{
        .back-to{
          img{
            width: 60px;
          }
        }
      }

      .back-to{
        height: 100%;
        padding: 10px 0;
        img{
          width: 0px;
          height: 100%;
        }
      }

      input{
        margin: 0 10px;
        background-color: #fff;
        width: 100%;
        border-radius: 8px;
        height: 70%;
        padding-left: 20px;
        color: $color-secondary;
        font-size: 1.8rem;
      }
    }
  }
}

/************************************* XS *************************************/
@media screen and (min-width: $responsive-width-xs) {
  header{
    .header-navigation{
      nav{
        // width: 300px;
      }
    }
  }
}

/************************************* SM *************************************/
@media screen and (min-width: $responsive-width-sm) {
  header{
    .header-navigation{
      nav{
        // width: 340px;
        ul{
          li{
            a{
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }
}

/************************************* MD *************************************/
@media screen and (min-width: $responsive-width-md) {
  header{
    .header-navigation{
      nav{
        // width: 400px;
      }
    }
  }
}

/************************************* LG *************************************/
@media screen and (min-width: $responsive-width-lg) {}

/************************************* XL *************************************/
@media screen and (min-width: $responsive-width-xl) {
  header{

    .header-navigation{
      .menu-button-burger{
        display: none;
      }

      nav{
        position: initial;
        background-color: white;
        height: 100%;
        width: auto;
        transform: initial;

        .expanded-control {
          position: initial;
          height: 100%;
          max-width: initial;

          &.active {
            transform: initial;
            color: red;

            ul {
              box-shadow: none;
              width: initial;
            }
          }

          ul{
            background-color: #fff;
            height: 100%;
            display: flex;
            max-width: initial;
            width: initial;

            li{
              height: 100%;
              padding: 0;
              border: none;

              .expand {
                display: none;
              }

              a{
                padding: 0 15px;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.1rem;
                color: $color-secondary;
                &:hover{
                  color: $color-primary;
                }

              }

              .expanded-control {
                display: none;
              }

              &:last-child{
                a{
                  background-color: $color-primary;
                  color: white;
                  &:hover{
                    color: $color-secondary;
                  }
                }
              }
            }
          }
        }

      }
    }
  }
}
