<header>
  <div class="header-navigation" [ngClass]="{'open-nav': (navigation | async)?.isMenuOpen}">
    <button class="nav-close" (click)="closeMenu()"></button>
    <a routerLink="/"><img src="./assets/logo-2.png" alt="logo" class="logo"></a>
    <button type="button" class="menu-button-burger"><img src="./assets/button-burger.png" alt="" (click)="openMenu()"></button>
    <nav>
      <div class="expanded-control" [ngClass]="{'active': (navigation | async)?.currentActiveMenu === 'root-expanded', 'below': (navigation | async)?.currentMenuBelow === 'root-expanded'}" id="root-expanded">
        <ul>
          <li routerLink="documentation/getting-started"><a>Getting Started</a></li>
          <li>
            <a routerLink="documentation">Documentation</a>
            <div class="expand" id="documentation-expand"></div>
            <div class="expanded-control" [ngClass]="{'active': (navigation | async)?.currentActiveMenu === 'documentation-expanded', 'below': (navigation | async)?.currentMenuBelow === 'documentation-expanded'}" id="documentation-expanded">
              <ul>
                <li><a routerLink="documentation/what-is-spm">What is spm ?</a></li>
                <li><a routerLink="documentation/getting-started">Getting started</a></li>
                <li><a routerLink="documentation/workings">How spm works</a></li>
                <li><a routerLink="documentation/cli-run-through">CLI run-through</a></li>
                <li><a routerLink="documentation/init">Initialize your project</a></li>
                <li><a routerLink="documentation/install">Install fancy packages</a></li>
                <li><a routerLink="documentation/generate">Generate customized packages</a></li>
                <li><a routerLink="documentation/use">Import packages in your stylesheets</a></li>
                <li><a routerLink="documentation/publish">Publish your creation</a></li>
                <li><a routerLink="documentation/cheat-sheet">Cheat sheet</a></li>
              </ul>
            </div>
          </li>
          <!-- <li><a routerLink="features">Features</a></li> -->
          <li><a routerLink="packages">Packages</a></li>
          <!-- <li><a routerLink="pricing">Pricing</a></li> -->
          <li><a>Sign-in</a></li>
          <!-- routerLink="sign-in" -->
          <li><a>Create an account</a></li>
          <!-- routerLink="sign-up" -->
        </ul>
      </div>
    </nav>
  </div>
  <div class="header-search">
    <div #buttonBackTo class="content">
      <a [routerLink]="backToCurrent" class="back-to">
        <img src="assets/back.png" alt="">
        <!-- <div class="back-to test"></div> -->
      </a>
      <input type="text" placeholder="Find packages">
    </div>
  </div>
</header>
