<section class="section-overview">
  <div class="content">
    <h1>My workshop</h1>
  </div>
</section>
<section class="section-validation-email">
  <div class="content">
    <div *ngIf="!(user | async)?.validationEmail">
      <p>Confirm your account by clicking on the link sent to your email address, <button (click)="resendEmailValidation()">send me a new link</button><span *ngIf="emailValidationResend">message has been sent</span></p>
    </div>
  </div>
</section>
<section class="section-profile">
	<div class="content">
		<nav>
			<ul>
				<li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/profile/">Public profile</a></li>
				<li routerLinkActive="active"><a routerLink="/profile/settings">Settings</a></li>
				<li routerLinkActive="active"><a routerLink="/profile/modules">My Modules</a></li>
				<li routerLinkActive="active"><a routerLink="/user/{{ (user | async)?.login }}">Preview</a></li>
				<li class="logout"><a (click)="logout()">Log out</a></li>
			</ul>
		</nav>
		<router-outlet></router-outlet>
	</div>
</section>
