<section class="section-overview">
  <div class="content">
    <h1>Sign-in</h1>
  </div>
</section>

<section class="section-sign-in">
  <div class="content">
    <form [formGroup]="formSignIn" (ngSubmit)="onSubmitSignIn()">
      <div class="st-control-text">
        <p>
          <span *ngIf="errorFormControlByName('login', 'required')">login required</span>
          <span *ngIf="errorFormControlByName('login', 'minlength')">login too short (4)</span>
          <span *ngIf="errorFormControlByName('login', 'maxlength')">login too long (31)</span>
        </p>
        <input type="text" placeholder="axolotl@spm.con" id="login" required formControlName="login">
        <label for="login">Email or username</label>
      </div>

      <div class="st-control-text">
        <p>
          <span *ngIf="errorFormControlByName('password', 'required')">password required</span>
          <span *ngIf="errorFormControlByName('password', 'pattern')">password must contain at least one letter, one number, and contain at least 8 characters</span>
          <span *ngIf="errorFormControlByName('password', 'maxlength')">password too long (31)</span>
        </p>
        <input type="password" placeholder="*******" id="password" required formControlName="password">
        <label for="password">Password</label>
      </div>

      <a class="recover-password">Recover your Password</a>

      <div class="action-connection">
        <button type="submit">Login</button>
        <a routerLink="/connection/sign-up">Sign-up</a>
      </div>
      <p [ngClass]="classResponseRequest">{{responseRequest}}</p>

    </form>
  </div>
</section>
