@import "../../../../../../spm_modules/style-guide.scss";

:root{
 --widthContainerOverview: 400px;
 --heightContainerOverview: 600px;
 --heightOverview: 600px;
 --widthOverview: 400px;
 --scale: 1;
 --widthCard: 300px;
}

/************************* DEFAULT STYLE **************************************/
.section-overview{
  background-color: $color-tertiary;
  .content{
    max-width: 992px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1{
      font-size: 2.2rem;
      color: #fff;
      padding: 30px 20px;
    }
    form{
      .control-select{
        select{
          -webkit-appearance: none;
          font-size: 1.1rem;
          padding: 6px 12px;
          border: none;
          color: $color-primary;
        }
      }
    }
  }
}

.section-iframe{
  .content{
    max-width: 992px;
    margin: 0 auto;
    .interaction-responsive{
      .button-responsive{
        button{
          img{
            width: 60px;
          }
        }
      }
      .range-scale{

      }
    }
  }
}

// .button-breakpoint{
//   font-size: 1.3rem;
//   padding: 8px 20px;
//   background-color: coral;
//   color: white;
//   margin-left: 20px;
//   margin-top: 20px;
// }

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 200px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: coral;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: coral;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: coral;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: coral;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: coral;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}


.overview-unique{
  margin: 0 auto;
  box-sizing: border-box;
  width: 80%;
  border-bottom: 2px solid #464646;
  margin-bottom: 40px;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.container-iframe-unique{
  border: 1px solid #eee;
  width: var(--widthContainerOverview);
  height: var(--heightContainerOverview);
}

.responsive-frame-unique {
  width: var(--widthOverview);
  height: var(--heightOverview);
  border-style: none;
  border-color: inherit;
  border-width: 0px;
  -webkit-transform: scale(var(--scale));
  -webkit-transform-origin: 0 0;
  display: block;
}
