<section class="section-title">
	<div class="content">
		<h1>About</h1>
	</div>
</section>

<section class="section-about">
	<div class="content">
		<h2>How was the project created ?</h2>
		<p>
			spm has been created by Hervé Ehrhart and Adrien Guémy, 2 French entrepreneurs who met at 42, a programming school based in Paris.
		</p>
		<br>
		<p>
			When they started as freelances, they noticed the power of collaborative registries and the similarities from one front-end project to another from a project management perspective.
		</p>
		<br>
		<p>
			Very quickly, what had been designed as an internal optimization tool made sense for their designers and developers friends. Feeling that the community was lacking such a tool, they decided to pause their business to publish an open registry relevant for visual components and interfaces.
		</p>
	</div>
</section>

<section class="section-creators">
	<div class="content">
		<h2>Who are we ?</h2>
		<div class="creator">
			<img src="assets/profile.svg" alt="herve">
			<div class="creator-information">
				<h3>Hervé</h3>
				<div class="details">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem voluptatibus veniam, tenetur, aliquid numquam voluptas culpa vero mollitia ullam rem id exercitationem nostrum corporis doloribus veritatis, dignissimos suscipit, quod tempore.
					</p>
				</div>
			</div>
		</div>
		<div class="creator">
			<img src="assets/profile.svg" alt="adrien">
			<div class="creator-information">
				<h3>Adrien</h3>
				<div class="details">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo aspernatur tempore accusantium perspiciatis quia, debitis dolorum, amet dolorem voluptates facilis quod sit tenetur error accusamus, adipisci vel maxime excepturi quam!
					</p>
				</div>
			</div>
		</div>
	</div>
</section>