<footer>
  <div class="content">
    <div class="footer-about footer-section">
      <h3>About</h3>
      <ul>
        <li><a href="https://www.facebook.com/style.package.manager">Facebook</a></li>
        <li><a href="https://twitter.com/spm_style">Twitter</a></li>
        <li><a href="https://github.com/spm-style" target="_blank">Github</a></li>
        <li><a href="https://gitter.im/spm-style/Lobby" target="_blank">Gitter</a></li>
        <li><a routerLink="/about">About</a></li>
      </ul>
    </div>

    <div class="footer-help footer-section">
      <h3>Help</h3>
      <ul>
        <li><a routerLink="/documentation">Documentation</a></li>
        <li><a routerLink="/contact">Contact</a></li>
        <li><a routerLink="/status">Status / metric</a></li>
        <li><a href="https://github.com/spm-style/cli/issues" target="_blank">Cli issues</a></li>
        <li><a href="https://github.com/spm-style/webapp/issues" target="_blank">Web-app issues</a></li>
      </ul>
    </div>

    <div class="footer-legal footer-section">
      <h3>Legal</h3>
      <ul>
        <li><a href="https://www.linkedin.com/jobs/search/?f_C=18460866">Jobs</a></li>
        <li><a routerLink="/policies/terms">Terms of use</a></li>
        <li><a routerLink="/policies/conduct">Code of conduct</a></li>
        <li><a routerLink="/policies/privacy">Privacy policy</a></li>
        <li><a routerLink="/contact">Reporting Abuse</a></li>
      </ul>
    </div>
  </div>
</footer>
