<footer>
  <div class="content">
    <div class="footer-about footer-section">
      <h3>About</h3>
      <ul>
        <li id="soon-facebook"><a>Facebook</a></li>
        <li id="soon-twitter"><a>Twitter</a></li>
        <li><a href="https://github.com/spm-style" target="_blank">Github</a></li>
        <li><a href="https://gitter.im/spm-style/Lobby" target="_blank">Gitter</a></li>
        <li id="soon-about"><a>Spm</a></li>
        <div class="hover-comming-soon"> Comming soon</div>
      </ul>
    </div>

    <div class="footer-help footer-section">
      <h3>Help</h3>
      <ul>
        <li><a routerLink="/documentation">Documentation</a></li>
        <li><a routerLink="/contact">Contact</a></li>
        <li id="soon-status"><a>Status / metric</a></li>
        <li><a href="https://github.com/spm-style/cli/issues" target="_blank">Cli issues</a></li>
        <li><a href="https://github.com/spm-style/webapp/issues" target="_blank">Web-app issues</a></li>
        <div class="hover-comming-soon"> Comming soon</div>
      </ul>
    </div>

    <div class="footer-legal footer-section">
      <h3>Legal</h3>
      <ul>
        <li id="soon-job"><a>Jobs</a></li>
        <li><a routerLink="/policies/terms">Terms of use</a></li>
        <li><a routerLink="/policies/conduct">Code of conduct</a></li>
        <li><a routerLink="/policies/privacy">Privacy policy</a></li>
        <li><a routerLink="/contact">Reporting Abuse</a></li>
        <div class="hover-comming-soon"> Comming soon</div>
      </ul>
    </div>
  </div>
</footer>
