@import "../../../../spm_modules/style-guide.scss";

/************************* DEFAULT STYLE **************************************/
footer{
  background-color: #464646;
  .content{
    max-width: 992px;
    margin: 0 auto;
    padding: 20px;
    .footer-section{
      padding-bottom: 40px;
      width: 100%;
      h3{
        font-size: 1.8rem;
        color: $color-primary;
        padding-bottom: 10px;
        border-bottom: 1px solid #fff;
      }
      ul{
        margin-top: 20px;
        padding-left: 20px;
        position: relative;
        li{
          list-style: square;
          margin-left: 30px;
          margin-bottom: 15px;
          color: #fff;

          a{
            cursor: pointer;
            color: #fff;
            font-size: 1.2rem;
          }
        }
        .hover-comming-soon {
          color: white;
          background-color: $color-primary;
          padding: 10px 20px;
          justify-content: center;
          border-radius: 20px;
          position: absolute;
          left: 90px;
          display: none;
        }
      }
    }
  }
}

/************************************* XS *************************************/
@media screen and (min-width: $responsive-width-xs) {}

/************************************* SM *************************************/
@media screen and (min-width: $responsive-width-sm) {}

/************************************* MD *************************************/
@media screen and (min-width: $responsive-width-md) {
  footer{
    .content{
      display: flex;
      justify-content: space-between;
      .footer-section{
        width: 30%;
      }
    }
  }
}

/************************************* LG *************************************/
@media screen and (min-width: $responsive-width-lg) {}

/************************************* XL *************************************/
@media screen and (min-width: $responsive-width-xl) {}
