<footer>
  <div class="content">
    <div class="footer-about footer-section">
      <h3>About</h3>
      <ul>
        <li><a href="https://www.facebook.com" target="_blank">Facebook</a></li>
        <li><a href="https://twitter.com/?lang=en" target="_blank">Twitter</a></li>
        <li><a href="https://github.com/spm-style" target="_blank">Github</a></li>
        <li id="sonn-gitter"><a>Gitter</a></li>
        <li id="sonn-about"><a>Spm</a></li>
        <div class="hover-comming-soon"> Comming soon</div>
      </ul>
    </div>

    <div class="footer-help footer-section">
      <h3>Help</h3>
      <ul>
        <li><a routerLink="/documentation">Documentation</a></li>
        <li><a routerLink="/contact">Contact</a></li>
        <li id="sonn-status"><a>Status / metric</a></li>
        <li><a href="https://github.com/spm-style/cli/issues" target="_blank">Cli issues</a></li>
        <li><a href="https://github.com/spm-style/webapp/issues" target="_blank">Web-app issues</a></li>
        <div class="hover-comming-soon"> Comming soon</div>
      </ul>
    </div>

    <div class="footer-legal footer-section">
      <h3>Legal</h3>
      <ul>
        <li id="sonn-job"><a>Jobs</a></li>
        <li><a routerLink="/policies/terms">Terms of use</a></li>
        <li><a routerLink="/policies/conduct">Code of conduct</a></li>
        <li><a routerLink="/policies/privacy">Privacy policy</a></li>
        <li><a routerLink="/reporting-abuse">Reporting Abuse</a></li>
        <div class="hover-comming-soon"> Comming soon</div>
      </ul>
    </div>
  </div>
</footer>
