<div class="section-overview">
	<div class="content">
		<h1>Privacy Policy</h1>
	</div>
</div>

<div class="section-content">
	<div class="content">

		<p>We track data about users of the spm website, the spm public registry and any other services we may offer from time to time.</p>

		<p>This page tells you what we track, and what we do with it.</p>

		<h2>spm registry</h2>

		<p>All requests to the registry are logged and retained by SPM These requests include non-personally identifiable information such as the package requested and the time of the request, as well as potentially personally identifiable information such as the IP address of the requester.</p>

		<p>For example, this is a sample of the kind of data we track in our logs when you download a package:</p>
		<ul>
			<li>The date and time.</li>
			<li>The IP address of the requester.</li>
			<li>The HTTP request URL and method.</li>
			<li>The HTTP response status code.</li>
			<li>The user-agent string, which includes the versions of Node and spm in use.</li>
			<li>Data about the CDN cache.</li>
			<li>A random spm-session header, unique to a single invocation of the spm command line utility.</li>
			<li>A referer header, which will indicate the command that was invoked.</li>
		</ul>
		<p>For example, if you type `spm install apollo_onOff`, then all HTTP requests as a result of that command will indicate that they are related to a single action, and that the originating request was for the `apollo_onOff` module.</p>

		<p>Note that different versions of spm may send different information, so some of the fields may not be tracked for all requests.</p>

		<h2>spm website</h2>

		<p>Like most website operators, SPM collects non-personally-identifying information of the sort that web browsers and servers typically make available, such as the browser type, language preference, referring site, and the date and time of each visitor request. SPM's purpose in collecting non-personally identifying information is to better understand how spm's visitors use its website. From time to time, SPM may release non-personally-identifying information in the aggregate, e.g., by publishing a report on trends in website usage.</p>

		<p>SPM also collects potentially personally-identifying information like Internet Protocol (IP) addresses. SPM does not use such information to identify its visitors, however, and does not disclose such information, other than under the same circumstances that it uses and discloses personally-identifying information, as described below.</p>

		<h2>Collection of Personally Identifying Information</h2>

		<p>In order to write information into the spm registry database (for example, to publish packages, bookmark packages, edit metadata, etc.) users may decide to provide certain personally identifying information including but not limited to: email address, username, password, personal website, and account names on other services such as GitHub, Twitter, and IRC.</p>

		<p>When packages are published in the spm registry, the user responsible for the publish action is saved, along with the date and time of the publish. This information is shared on the website.</p>

		<p>If you create an account or publish a package, your email address will be publicly disclosed.</p>

		<p>If users do not want their information tracked in this manner, they can opt to not create an account. However, this means that some features of spm and the spm website will be unavailable to them.</p>

		<h2>Use of Personally Identifying Information</h2>

		<p>We may use personally identifying information we have collected about you, including your email address, to provide you with news, notes, and recommendations. You can opt out of receiving such messages at any time by using the "unsubscribe" links or directions at the ends of messages you receive. In addition, we use collected personally identifying information to operate our business and the spm service. We do not disclose your personal information to unaffiliated third parties who may want to offer you their own products and services unless you have requested or authorized us to do so.</p>

		<p>We may share your personal information with third parties or affiliates where it is necessary for us to complete a transaction or do something you have asked us to do. Likewise, we may share your personal information with third parties or affiliates with whom we have contracted to perform services on our behalf. Companies that act on our behalf are required to keep the personal information we provide to them confidential and to use the personal information we share only to provide the services we ask them to perform.</p>

		<p>In addition, we may disclose personal information in the good faith belief that we are lawfully authorized to do so, or that doing so is reasonably necessary to comply with legal process or authorities, respond to any claims, or to protect the rights, property, or personal safety of spm, our users, our employees, or the public. In addition, information about our users, including personal information, may be disclosed or transferred as part of, or during negotiations of, any merger, sale of company assets, or acquisition.</p>

		<h2>Cookies</h2>

		<p>A cookie is a string of information that a website stores on a visitor's computer, and that the visitor's browser provides to the website each time the visitor returns.</p>

		<p>The spm website uses cookies to help identify and track visitors, their usage of the spm website, and their website access credentials. spm website visitors who do not wish to have cookies placed on their computers should set their browsers to refuse cookies before using SPM's websites, with the drawback that certain features of SPM's websites may not function properly without the aid of cookies.</p>

		<h2>Packages Published to spm registry</h2>

		<p>Most packages published to the spm registry are open source, and freely available to all users of the spm service. We show basic package metadata on the spm website, in a variety of forms, so as to assist users in finding a package that meets their needs.</p>

		<p>We may also inspect the contents of published packages to investigate any claims of malicious contents, or to debug problems that may occur in the process of running the service. For open source packages, we may also analyze the contents of published packages in an automated fashion to gain information about how people use spm packages. This information may be disclosed to third parties on our website, or in other forms. (Note that it is already freely available to anyone who downloads the packages themselves.)</p>

		<p>If a package is published to the spm registry in such a way as to restrict read-access to the package, then we may still need to inspect the package contents on rare occasions. However, we never disclose information about a private package--including the fact that the package exists--to third parties who are not granted access to the package by the package's owners.</p>

		<h2>Disclosure of log information</h2>

		<p>All user information is retained in raw form for such time as deemed appropriate by SPM It is shared with employees and contractors of SPM, as needed to process information on SPM's behalf.</p>

		<p>Raw log data is not shared with third parties, but may be shared in aggregate. For example, every page on the spm includes a report on the number of downloads that module has received, and occasionally SPM may publish blog posts or reports on registry or website usage.</p>

		<p>We also analyze log data for a variety of reasons, including counting up downloads and unique visitors, debugging production problems, tracking which versions of Node.js and spm are in use in the wild, and researching how spm packages are used together with one another. This helps us to better understand the usage patterns of spm, and make better decisions about the spm product.</p>

		<h2>Age restrictions</h2>

		<p>Children under age 13 should not use the spm service at all. If a child under age 13 submits personal information through any part of the service, and we become aware that the person submitting the information is under age 13, we will attempt to delete the information as soon as reasonably possible.</p>

		<h2>Links to other websites</h2>

		<p>The spm service may contain links to other websites. Any personal information you provide on the linked pages is provided directly to that third party and is subject to that third party's privacy policy. Except as described above, we are not responsible for the content or privacy and security practices and policies of websites to which we link. Links from the spm service to third parties or to other sites are provided for your convenience. We encourage you to learn about their privacy and security practices and policies before providing them with personal information.</p>

		<h2>France jurisdiction</h2>

		<p>The spm service is hosted in France. This Privacy Policy is intended to comply with privacy laws in France and may not comply with all privacy laws in other countries.</p>

		<p>If you are a non-FR user of the service, by using our service and providing us with data, you acknowledge, agree and provide your consent that your personal information may be processed in France for the purposes identified in this Privacy Policy. In addition, such data may be stored on servers located outside your resident jurisdiction, which may have less stringent privacy practices than your own. By using the spm service and providing us with your data, you consent to the transfer of such data and any less stringent privacy practices.</p>

		<h2>Contact information</h2>

		<p>If you have any questions or concerns about how we track user information, or how that information is used, please contact us at once.<p>

		<p>You may contact SPM via our contact form, by emailing {{ email }}, or via snail mail at:<p>

		<p>SPM<br>
		12, rue Copreaux<br>
		75015 Paris<br>
		FRANCE
		<p>

		<h2>Privacy policy changes</h2>

		<p>Although most changes are likely to be minor, SPM may change its Privacy Policy from time to time, and in SPM's sole discretion. Any such changes will be posted on the spm blog, and the detailed history of changes can be found in the git repository history for this document.</p>

		<p>SPM encourages visitors to frequently check this page for any changes to its Privacy Policy. Your continued use of the spm website and the spm public registry after any change in this Privacy Policy will constitute your acceptance of such change.</p>

		<h2>Reporting abuses</h2>

		<p>spm resolves disputes about package names, user names and organization names in the Public Registry as well as any other potential abuse as per the following steps :</p>
		<ul>
			<li>Visit the page at {{ url }}</li>
			<li>Fill up the form with your information and the details of your complain and we will answer in a reasonable time.</li>
		</ul>

		<p>Package squatting is considered to be an abuse and will lead to a package deletion and potentially to the user desactivation if the latter has precedents.</p>
	</div>
</div>
