:host{
  box-sizing: border-box;
  width: 320px;
  /*width: 300px;*/
  border: 1px solid #eee;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  border-radius: 7px;
  margin: 30px auto 0;
  display: inline-block;
  opacity: 0;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;

  &.loaded{
    opacity: 1;
  }

  a{
    display: block;
    padding: 10px;

    h2 {
      background-color: coral;
    }

    .container-iframe{
      border: 1px solid #eee;
    }

    .iframe{
      border-style: none;
      border-color: inherit;
      border-width: 0px;
      -webkit-transform-origin: 0 0;
      display: block;
    }
  }
}
