:host{
  box-sizing: border-box;
  width: 320px;
  /*width: 300px;*/
  border: 1px solid #eee;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  border-radius: 7px;
  margin: 30px auto 0;
  display: inline-block;
  opacity: 0;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;

  &.loaded{
    opacity: 1;
  }

  a{
    display: block;
    padding: 10px;

    .container-iframe{
      border: 1px solid #eee;
      position: relative;

      &:hover{
        .container-iframe-over{
          opacity: 1;
        }
      }

      .iframe{
        border-style: none;
        border-color: inherit;
        border-width: 0px;
        -webkit-transform-origin: 0 0;
        display: block;
      }

      .container-iframe-over{
        position: absolute;
        opacity: 0;
        top: 0;
        left: 0;
        height: calc(100% + 2px);
        width: calc(100% + 2px);
        background-color: rgba(0,0,0,0.6);
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        transition: opacity 0.4s ease-in-out;

        p{
          color: #fff;
          font-size: 1.2rem;
        }
      }
    }



    h2 {
      color: #464646;
      padding: 5px;
      border-bottom: 1px solid #464646;
      font-size: 1.2rem;
    }

    .icone-responsiveness{
      display: flex;
      padding-left: 10px;
      margin-top: 7px;
      img{
        height: 30px;
        border: 1px solid coral;
        border-radius: 50%;
        margin-right: 7px;
      }
    }

    .ico-scoring{
      display: flex;
      background-color: #eee;
      justify-content: space-around;
      margin-top: 7px;
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
      .item-scoring{
        width: 30%;
        display: flex;
        align-items: center;
        img{
          width: 35px;
          height: 35px;
        }
        p{
          color: #464646;
        }
      }
    }
  }
}
