<section class='user-package-section'>
	<div class="user-package-section-header">
		<button>back to List</button>
		<button>quit the package</button>
		<h2>{{(current | async)?.name}}</h2>
	</div>
	<section class="infos-list">
		<table>
			<tr>
				<th>created</th>
				<th>last update</th>
				<th>last download</th>
				<th>total stars</th>
				<th>total downloads</th>
			</tr>
			<tr>
				<td>{{ (current | async)?.createdAt | relativeDate }}</td>
				<td>{{ (current | async)?.updatedAt | relativeDate }}</td>
				<td>{{ (current | async)?.lastDownloadAt || (current | async)?.updatedAt | relativeDate }}</td>
				<td>{{ (current | async)?.stars }}</td>
				<td>{{ (current | async)?.downloadTotal }}</td>
			</tr>
		</table>
	</section>
	<section>
		<label for="toggle-versions-state" [ngClass]="{'carousel-empty': !(current | async)?.versions.length}">{{ !(current | async)?.versions.length ? 'No v' : 'V'}}ersion{{(current | async)?.versions.length > 1 ? 's' : ''}}</label>
    <input class="input-state" type="checkbox" id="toggle-versions-state" [ngClass]="{'togglable': (current | async)?.versions.length > 10}">
    <div class="admin-list">
	    <ul>
	    	<li *ngFor="let version of (current | async)?.versions">
	    		<h3>{{version.name}}</h3>
	    		<button *ngIf="(current | async)?.versions.length > 1" class="remove" (click)="removeFromPackage('version', version.name, true)"></button>
	    	</li>
	    </ul>
	  </div>
	</section>
	<section>
		<label for="toggle-owners-state" [ngClass]="{'carousel-empty': !(current | async)?.contributors.length, 'togglable': (current | async)?.contributors.length > 10}">{{ !(current | async)?.contributors.length ? 'No o' : 'O'}}wner{{(current | async)?.contributors.length > 1 ? 's' : ''}}</label>
    <input class="input-state" type="checkbox" id="toggle-owners-state">
    <div class="admin-list">
    	<form [formGroup]="formOwner" (ngSubmit)="onSubmitOwner()" [ngClass]="classResponseRequest">
	      <p>
	        <span *ngIf="(formOwner.get('name').hasError('name') && formOwner.get('name').touched) || classResponseRequest['error']">{{ responseRequest }}</span>
	      </p>
    		<div class="form-control">
					<input type="text" id="name" formControlName="name" placeholder="user" required>
	  			<button>Add</button>
    		</div>
    	</form>
	    <ul>
	    	<li *ngFor="let owner of (current | async)?.contributors">
	    		<img src="/assets/profile.svg" alt="{{owner}}">
	    		<h3>{{owner.login}}</h3>
	    		<button class="remove" (click)="removeFromPackage('contributor', owner.login, true)" *ngIf="owner.login !== (user | async)?.login"></button>
	    	</li>
	    </ul>
    </div>
	</section>
</section>
