<section class="section-overview">
  <div class="content">
    <h3>Beautiful is powerful</h3>
    <p>spm is a style package manager. It makes it easy to find inspiration, maintain and share multiple graphical components and show off what you can do.</p>
    <br>
    <p>Discover, use and assemble code of myriads of designers and developers.</p>
    <div class="overview-action">
      <a routerLink="/documentation/what-is-spm">Get started</a>
      <a routerLink="/documentation/getting-started">Install SPM</a>
    </div>
  </div>
</section>

<section class="section-register">
  <div class="content">
    <img src="./assets/register.png" alt="register">
    <h3>At the crossroad of design and development</h3>
    <div class="register-info">
      <ul>
        <li>Access to your preferences from anywhere</li>
        <li>Share components and bundles with the community</li>
        <li>Manage public and private code</li>
      </ul>
      <div class="register-action">
        <button type="button"> Create an account</button>
        <button type="button"> or sign-in</button>
      </div>
    </div>
  </div>
</section>

<section class="section-spm">
  <div class="content">
    <h3>What is spm ?</h3>
    <p>spm is a style package manager. It makes it easy to find inspiration, maintain and share multiple graphical components and show off what you're capable of.<p>
    <p>You can browse among many elements based on their device compatibility, check for updates, and use the same code over and over without actually storing it, FOR FREE.</p>
    <a routerLink="/documentation/getting-started">Install SPM</a>
  </div>
</section>

<section class="section-movie">
  <div class="content">
    <h3>Work with favored interface</h3>
    <div class="movie-container">
      <ul class="movie-type-list">
        <li><button>CSS</button></li>
        <li><button>SCSS</button></li>
        <li><button>SASS</button></li>
        <li><button>ANGULAR</button></li>
        <li><button>REACT</button></li>
        <li><button>VUE</button></li>
        <li><button>OTHER</button></li>
      </ul>

      <div class="tab-bar">
        <div class="tab-bar-menu">
          <button type="button" class="active-tab">CLI</button>
          <button type="button">Graphical</button>
          <img src="./assets/arrow-tab.png" alt="">
        </div>
        <div class="tab-bar-content">
          <spm-video-js [idx]="'idx'" [url]="'./assets/video.mp4'" [poster]="'./assets/commingSoon.jpg'"></spm-video-js>

          <!-- <video width="300px" id="my-video" class="video-js" controls preload="auto" poster="../assets/tmp-video.jpg" data-setup="{}">
            <source src="./assets/video.mp4" type="video/mp4">
            </video> -->
        </div>
        <div class="tab-bar-menu-action">
          <button type="button" class="active-tab">Install</button>
          <button type="button">Generate</button>
          <button type="button">Use</button>
          <button type="button">Publish</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-enterprise">
  <div class="content">
    <img src="./assets/enterprise.png" alt="">
    <div class="enterprise-info">
      <h3>Move your desk in the sky</h3>
      <ul>
        <li>Promote your code internally</li>
        <li>Manage your collaborators and partners</li>
        <li>Use a unique workflow for private and public code</li>
      </ul>
      <button type="button">Coming soon</button>
    </div>
  </div>
</section>

<section class="section-popular">
  <div class="content">
    <h3>Most popular packages</h3>
    <div class="popular-list">
      <div class="popular-item">
        <h4>herve_background-menu</h4>
        <p class="popular-item-description">A set of class to manage your forms</p>
        <p class="popular-item-infos"><span class="popular-item-version">1.0.1</span> publish 1 month by <span class="popular-item-collaborator">adrien</span></p>
      </div>
      <div class="popular-item">
        <h4>herve_background-menu</h4>
        <p class="popular-item-description">A set of class to manage your forms</p>
        <p class="popular-item-infos"><span class="popular-item-version">1.0.1</span> publish 1 month by <span class="popular-item-collaborator">adrien</span></p>
      </div>
      <div class="popular-item">
        <h4>herve_background-menu</h4>
        <p class="popular-item-description">A set of class to manage your forms</p>
        <p class="popular-item-infos"><span class="popular-item-version">1.0.1</span> publish 1 month by <span class="popular-item-collaborator">adrien</span></p>
      </div>
      <div class="popular-item">
        <h4>herve_background-menu</h4>
        <p class="popular-item-description">A set of class to manage your forms</p>
        <p class="popular-item-infos"><span class="popular-item-version">1.0.1</span> publish 1 month by <span class="popular-item-collaborator">adrien</span></p>
      </div>
      <div class="popular-item">
        <h4>herve_background-menu</h4>
        <p class="popular-item-description">A set of class to manage your forms</p>
        <p class="popular-item-infos"><span class="popular-item-version">1.0.1</span> publish 1 month by <span class="popular-item-collaborator">adrien</span></p>
      </div>
      <div class="popular-item">
        <h4>herve_background-menu</h4>
        <p class="popular-item-description">A set of class to manage your forms</p>
        <p class="popular-item-infos"><span class="popular-item-version">1.0.1</span> publish 1 month by <span class="popular-item-collaborator">adrien</span></p>
      </div>
    </div>
  </div>
</section>
