<section class="section-overview">
  <div class="content">
    <h1>Build up your design</h1>
    <p>spm is a style project manager. It makes it easy to find inspiration, maintain and share multiple graphical components and show off what you can do.</p>
    <br>
    <p>You can browse among many elements based on their device compatibility, check for updates, and use the same code over and over without actually storing it, FOR FREE.</p>
    <br>
    <p>Discover, use and assemble code of myriads of designers and developers.</p>
    <div class="overview-action">
      <a routerLink="/connection/sign-up">Get started</a>
      <a routerLink="/documentation/getting-started">Install SPM</a>
    </div>
  </div>
</section>

<section class="section-steps">
  <div class="content">
    <h3>Manage your custom graphical framework</h3>
    <div class="steps">
      <ul>
        <li>
          <div class="step">
            <div class="step-explore"></div>
          </div>
          <h4>Explore</h4>
        </li>
        <li>
        <div class="step">
            <div class="step-assemble"></div>
        </div>
          <h4>Assemble</h4>
        </li>
        <li>
          <div class="step">
            <div class="step-customize"></div>
          </div>
          <h4>Customize</h4>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="section-register">
  <div class="content">
    <img src="./assets/register.png" alt="register">
    <h3>At the crossroad of design and development</h3>
    <div class="register-info">
      <ul>
        <li>Access to your preferences from anywhere</li>
        <li>Share components and bundles with the community</li>
        <li>Manage public and private code</li>
      </ul>
      <div class="register-action">
        <a routerLink="connection/sign-up">Create an account</a>
        <a routerLink="connection/sign-in">or sign-in</a>
      </div>
    </div>
  </div>
</section>

<section class="section-enterprise">
  <div class="content">
    <img src="./assets/enterprise.png" alt="">
    <div class="enterprise-info">
      <h3>Move your desk in the sky</h3>
      <ul>
        <li>Promote your code internally</li>
        <li>Manage your collaborators and partners</li>
        <li>Use a unique workflow for private and public code</li>
      </ul>
      <button type="button">Coming soon</button>
    </div>
  </div>
</section>
