<section class="section-search">
  <div class="content">
    <input type="text" placeholder="Find packages">
  </div>
</section>

<section class="section-overview">
  <div class="content">
    <h3>fast, reliable, and secure style package manager</h3>
    <div class="overview-action">
      <button type="button">Get started</button>
      <button type="button">Install SPM</button>
    </div>
  </div>
</section>

<section class="section-register">
  <div class="content">
    <img src="./assets/register.png" alt="register">
    <h3>spm is a powerful collaboration between design and development</h3>
    <div class="register-info">
      <ul>
        <li>Register these preferenece</li>
        <li>Share with the community</li>
        <li>Manage public and private code</li>
      </ul>
      <div class="register-action">
        <button type="button"> Create an account</button>
        <button type="button"> or sign-in</button>
      </div>
    </div>
  </div>
</section>

<section class="section-spm">
  <div class="content">
    <h3>What is spm ?</h3>
    <p>Spm is a native and component graphical package manager</p>
    <button type="button">Install SPM</button>
  </div>
</section>

<section class="section-movie">
  <div class="content">
    <h3>Work with favored interface</h3>
    <div class="movie-container">
      <ul class="movie-type-list">
        <li><button>CSS</button></li>
        <li><button>SCSS</button></li>
        <li><button>SASS</button></li>
        <li><button>ANGULAR</button></li>
        <li><button>REACT</button></li>
        <li><button>VUE</button></li>
        <li><button>OTHER</button></li>
      </ul>

      <div class="tab-bar">
        <div class="tab-bar-menu">
          <button type="button" class="active-tab">CLI</button>
          <button type="button">GRAPHIQUE</button>
          <img src="./assets/arrow-tab.png" alt="">
        </div>
        <div class="tab-bar-content">
          <spm-video-js [idx]="'idx'" [url]="'http://vjs.zencdn.net/v/oceans.mp4'" [poster]="'./assets/tmp-video.jpg'"></spm-video-js>

          <!-- <video width="300px" id="my-video" class="video-js" controls preload="auto" poster="../assets/tmp-video.jpg" data-setup="{}">
            <source src="./assets/video.mp4" type="video/mp4">
            </video> -->
        </div>
        <div class="tab-bar-menu-action">
          <button type="button" class="active-tab">Install</button>
          <button type="button">Generate</button>
          <button type="button">Use</button>
          <button type="button">Publish</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-enterprise">
  <div class="content">
    <img src="./assets/enterprise.png" alt="">
    <div class="enterprise-info">
      <h3>Move your desk in the sky</h3>
      <ul>
        <li>Work in a team with the same vision</li>
        <li>Manage your collaborator and partner</li>
        <li>Share your achievements only internally</li>
      </ul>
      <button type="button">Comming soon</button>
    </div>
  </div>
</section>

<section class="section-popular">
  <div class="content">
    <h3>Most popular packages</h3>
    <div class="popular-list">
      <div class="popular-item">
        <h4>Apollo-form</h4>
        <p class="popular-item-description">A set of class to manage your forms</p>
        <p class="popular-item-infos"><span class="popular-item-version">1.0.1</span> publish 1 month by <span class="popular-item-collaborator">adrien</span></p>
      </div>
      <div class="popular-item">
        <h4>Apollo-form</h4>
        <p class="popular-item-description">A set of class to manage your forms</p>
        <p class="popular-item-infos"><span class="popular-item-version">1.0.1</span> publish 1 month by <span class="popular-item-collaborator">adrien</span></p>
      </div>
      <div class="popular-item">
        <h4>Apollo-form</h4>
        <p class="popular-item-description">A set of class to manage your forms</p>
        <p class="popular-item-infos"><span class="popular-item-version">1.0.1</span> publish 1 month by <span class="popular-item-collaborator">adrien</span></p>
      </div>
      <div class="popular-item">
        <h4>Apollo-form</h4>
        <p class="popular-item-description">A set of class to manage your forms</p>
        <p class="popular-item-infos"><span class="popular-item-version">1.0.1</span> publish 1 month by <span class="popular-item-collaborator">adrien</span></p>
      </div>
      <div class="popular-item">
        <h4>Apollo-form</h4>
        <p class="popular-item-description">A set of class to manage your forms</p>
        <p class="popular-item-infos"><span class="popular-item-version">1.0.1</span> publish 1 month by <span class="popular-item-collaborator">adrien</span></p>
      </div>
      <div class="popular-item">
        <h4>Apollo-form</h4>
        <p class="popular-item-description">A set of class to manage your forms</p>
        <p class="popular-item-infos"><span class="popular-item-version">1.0.1</span> publish 1 month by <span class="popular-item-collaborator">adrien</span></p>
      </div>
    </div>
  </div>
</section>
