<section class="password-forget">
	<div class="content">
		<h2>Reset my password</h2>
		<form [formGroup]="formForgetPassword" (ngSubmit)="onSubmitContact()">
			<div class="opt-control st-control-text required">
		    <p>
		      <span *ngIf="errorFormControlByName('email', 'required')">Email required</span>
		    </p>
				<input type="email" id="email" formControlName="email" required>
				<label for="email">My email</label>
			</div>
			<div class="form-action">
		    <p [ngClass]="classResponseRequest">{{responseRequest}}</p>
		    <button type="submit">Request a new password</button>
		  </div>
		</form>
	</div>
</section>