@import "../../../../../../spm_modules/style-guide.scss";

/************************* DEFAULT STYLE **************************************/
.section-overview{
  background-color: $color-tertiary;
  .content{
    max-width: 992px;
    margin: 0 auto;
    padding: 0 10px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title-content {
      display: flex;
      align-items: center;

      button {
        height: 20px;
        width: 20px;
        margin: 0 20px 0 5px;
        background-image: url(../../../../../assets/star-void.svg);
        background-repeat: no-repeat;
        background-color: rgba(#fff, 0);
        transition: background-color 0.3s ease-in-out;

        &.favorite {
          background-image: initial;
          background-color: rgba(#fff, 1);
          -webkit-mask-image: url(../../../../../assets/star.svg);
          mask-image: url(../../../../../assets/star.svg);
        }
      }

      h1{
        font-size: 1.2rem;
        color: #fff;
        padding: 30px 0px;
      }
    }
    form{
      .control-select{
        select{
          -webkit-appearance: none;
          font-size: 1.1rem;
          padding: 6px 12px;
          border: none;
          color: $color-primary;
        }
      }
    }
  }
}

.section-iframe{
  .content{
    padding: 0 15px;
    .overview-unique{
      margin: 20px auto 0px;
      box-sizing: border-box;
      width: 100%;
      padding: 10px;
      display: flex;
      justify-content: center;
      .responsive-frame-unique {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
        border-style: none;
        border-color: inherit;
        border-width: 0px;
        -webkit-transform-origin: 0 0;
        display: block;
      }
    }
  }
}

.section-responsive{
  .content{
    max-width: 992px;
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
    padding: 0 15px;
    .button-responsive{
      padding: 15px 10px;
      border-bottom: 1px solid coral;
      display: flex;
      align-items: center;
      overflow: scroll;
      .button-breakpoint, .button-orientation{
        margin-right: 25px;
        img{
          width: 50px;
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          border-radius: 50%;
        }
      }
      .range-scale{
        -webkit-appearance: none;
        width: 70%;
        width: 220px;
        &:focus {
          outline: none;
        }
        &::-webkit-slider-runnable-track {
          width: 100%;
          height: 3px;
          cursor: pointer;
          animate: 0.2s;
          box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
          background: white;
          border-radius: 1.3px;
        }
        &::-webkit-slider-thumb {
          box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
          height: 26px;
          width: 16px;
          border-radius: 3px;
          background: coral;
          cursor: pointer;
          -webkit-appearance: none;
          margin-top: -12px;
        }
      }
      .text-scale{
        margin-left: 20px;
        border: 1px solid #464646;
        padding: 7px;
        width: 50px;
      }
    }
  }
}

.section-action{
  .content{
    width: 100%;
    max-width: 992px;
    margin: 0 auto 10px;
    padding: 0 15px;

    .buttons-container {
      width: 100%;
      border-bottom: 1px solid coral;
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      .button-action {
        padding: 15px 10px;
        display: flex;
        align-items: center;
        height: 50px;

        p {
          color: $color-tertiary;
          font-weight: bold;
          font-size: 0.8rem;
          margin-left: 5px;
        }

        &:before {
          content: url(/assets/download-tertiary.svg);
          height: 100%;
          width: 20px;
        }
      }
    }
  }
}

.carousel{
  margin-bottom: 4px;
  label{
    background-color: coral;
    display: block;
    padding: 10px;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;

    &.carousel-empty{
      background-color: lightgray;
      cursor: initial;

      ~ .carousel-body{
        border: 1px solid lightgray;
      }
    }
  }
  .input-state{
    display: none;
    &:checked{
      + .carousel-body{
        max-height: 500px;
      }
    }
  }
  .carousel-body{
    border: 1px solid coral;
    padding: 0 5px;
    max-height: 0px;
    overflow: scroll;
    transition: max-height 0.4s ease-in-out;
    .carousel-item{
      display: flex;
      align-items: center;

    }
  }
}

.section-dom {
  .content {
    max-width: 992px;
    margin: 0 auto;
    padding: 0 15px;

    .carousel {
      label {
        position: relative;

        button {
          box-shadow: inset 0 0 0 2px #fff;
          border: 4px solid $color-primary;
          background-color: $color-primary;
          position: absolute;
          height: 100%;
          right: 0;
          top: 0;
          padding: 5px;

          &:hover {
            background-color: $color-tertiary;
          }

          img {
            height: 100%;
          }
        }

        .confirmation {
          opacity: 0;
          visibility: hidden;
          background-color: #efefef;
          border: 2px solid #464646;
          color: black;
          padding: 5px 10px;
          position: absolute;
          top: 110%;
          right: 10px;
          font-size: 1rem;
          transition: visibility 0s linear 0.5s,opacity 0.5s linear;

          &:before {
            content: '';
            position: absolute;
            bottom: 100%;
            right: 10%;
            width: 0; 
            height: 0; 
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 8px solid #464646;
          }

          &.visible {
            visibility: visible;
            opacity: 1;
            transition-delay: 0s;
          }
        }
      }
      .carousel-body {
        .code-container {
          padding: 10px;
        }
      }
    }
  }
}

.section-classes{
  .content{
    max-width: 992px;
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
    padding: 0 15px;
    .carousel{
      .carousel-body{
        .carousel-item{
          .switch-class{
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            outline: none;
            margin-right: 20px;
            border: 2px solid white;
            border-color: #464646;
            background-color: red;
            width: 38px;
            height: 25px;
            box-shadow: inset 1px 0 0 1px white, inset -12px 0 0 1px white;
            transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, border-color 0.2s ease-in-out;
            border-radius: 30px;
            -moz-border-radius: 30px;
            -webkit-border-radius: 30px;
            cursor: pointer;
            &:checked {
              background-color: green;
              box-shadow: inset 12px 0 0 1px white, inset -1px 0 0 1px white;
              border-color: #464646;
            }
          }
          p{
            font-size: 0.9rem;
            padding: 10px 0;
          }
        }
      }
    }
  }
}

.section-variable{
  .content{
    max-width: 992px;
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
    padding: 0 15px;
    .carousel{
      .carousel-body{
        h2 {
          color: $color-primary;
          border-bottom: 1px solid $color-primary;
          padding: 5px;
        }

        form {
          button {
            margin-bottom: 10px;
            margin-left: 5px;
          }
        }

        button{
          background-color: coral;
          padding: 6px;
          color: #fff;
        }

        .carousel-item{
          padding: 10px 5px;
          flex-wrap: wrap;

          p {
            display: block;
            margin-bottom: 10px;
            width: 100%;
          }
          input{
            padding: 5px;
            margin-right: 10px;
            border: 1px solid #464646;
            color: #464646;
            background: #eee;

            &[type="radio"] {
              height: 12px;
              width: 12px;
              border-radius: 50%;
              border: 1px solid #000;
              background-color: #fff;
              border: 2px solid $color-primary;
              transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
              
              &:checked{
                background-color: $color-primary;
              }
            }
          }
          label {
            padding: 3px;
            color: #000;
            font-size: 1rem;
            background-color: transparent;
          }
        }
      }
    }
  }
}

.section-contributor{
  .content{
    max-width: 992px;
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
    padding: 0 15px;
    .carousel{
      .carousel-body{
        .carousel-item{
          a{
            margin: 5px 0;
            font-size: 1.1rem;
            color: #464646;
          }
        }
      }
    }
  }
}

.section-info{
  .content{
    max-width: 992px;
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
    padding: 0 15px;
    .carousel{
      .carousel-body{
        .carousel-item{
          display: block;

          &.description {
            h3 {
              padding: 5px;
              color: $color-primary;
            }

            p {
              padding: 5px;
            }

            border-bottom: 1px solid $color-primary;
          }

          > table {
            tr {
              display: table-cell;

              th, td {
                padding: 5px;
                display: block;
              }
              th {
                color: #888888;
                font-size: 1rem;
                text-align: left;
                min-width: 30vw;

                &.double {
                  line-height: 2;
                  padding: 8px 5px;
                }
              }
              td {
                display: flex;
                flex-direction: row;

                .export-var-container {
                  margin-right: 15px;

                  .export-var-name {
                    color: $color-primary;
                    text-align: left;
                  }
                  .export-var-type {
                    color: $color-quaternary;
                  }
                }
              }
            }
          } 
        }
      }
    }
  }
}

/************************************* XS *************************************/
@media screen and (min-width: $responsive-width-xs) {}

/************************************* SM *************************************/
@media screen and (min-width: $responsive-width-sm) {
  .section-overview {
    .content {
      .title-content {
        h1 {
          font-size: 1.5rem;
        }
      }
    }
  }
}

/************************************* MD *************************************/
@media screen and (min-width: $responsive-width-md) {
  // .section-variable{
  //   .content{
  //     .carousel{
  //       .carousel-body{
  //         .carousel-item{
  //           p{
  //             width: 50%;
  //           }
  //         }
  //       }
  //     }
  //   }
  // }
}

/************************************* LG *************************************/
@media screen and (min-width: $responsive-width-lg) {}

/************************************* XL *************************************/
@media screen and (min-width: $responsive-width-xl) {}





// input[type=range]:focus::-webkit-slider-runnable-track {
//   background: coral;
// }
// input[type=range]::-moz-range-track {
//   width: 100%;
//   height: 8.4px;
//   cursor: pointer;
//   animate: 0.2s;
//   box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
//   background: coral;
//   border-radius: 1.3px;
//   border: 0.2px solid #010101;
// }
// input[type=range]::-moz-range-thumb {
//   box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
//   border: 1px solid #000000;
//   height: 36px;
//   width: 16px;
//   border-radius: 3px;
//   background: #ffffff;
//   cursor: pointer;
// }
// input[type=range]::-ms-track {
//   width: 100%;
//   height: 8.4px;
//   cursor: pointer;
//   animate: 0.2s;
//   background: transparent;
//   border-color: transparent;
//   border-width: 16px 0;
//   color: transparent;
// }
// input[type=range]::-ms-fill-lower {
//   background: #2a6495;
//   border: 0.2px solid #010101;
//   border-radius: 2.6px;
//   box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
// }
// input[type=range]::-ms-fill-upper {
//   background: coral;
//   border: 0.2px solid #010101;
//   border-radius: 2.6px;
//   box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
// }
// input[type=range]::-ms-thumb {
//   box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
//   border: 1px solid #000000;
//   height: 36px;
//   width: 16px;
//   border-radius: 3px;
//   background: #ffffff;
//   cursor: pointer;
// }
// input[type=range]:focus::-ms-fill-lower {
//   background: coral;
// }
// input[type=range]:focus::-ms-fill-upper {
//   background: #367ebd;
// }
