@import "../../../../spm_modules/style-guide.scss";

.account-verification {
	width: 100%;
	min-height: 70vh;
	.content {
		max-width: 992px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		
		p {
			padding: 30px 20px;
			text-align: center;
			color: $color-primary;
			font-size: 2rem;
		}

		.link {
			margin-top: 30px;
			a {
				text-decoration: none;
				font-size: 1.5rem;
				appearance: none;
				-webkit-appearance: none;
				-moz-appearance: none;
				padding: 15px 20px;
				border-radius: 15px;
				background-color: $color-quaternary;
				color: #fff;
			}
		}
	}
}