$responsive-width-xs: 375px;
$responsive-width-sm: 414px;
$responsive-width-md: 768px;
$responsive-width-lg: 992px;
$responsive-width-xl: 1024px;

$color-primary: #FD7F57; //coral
$color-secondary: #464646;
$color-tertiary: #FF9269;
$color-quaternary: #14B294;
